.btn-shine {
  background-size: 200% 100%;
  background-position: -200% 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
  -webkit-text-size-adjust: none;
  white-space: nowrap;
}
@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
