.btn-shine {
  background-position: 0%;
  background-size: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 6s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  white-space: nowrap;
}
@keyframes shine {
  0% {
    background-position: 120%;
  }
  100% {
    background-position: 0%;
  }
}
